.titlebar {
	height: 32px;
	width: 100%;
	color: var(--white);
	background-color: var(--frame);
	border-bottom: 1px solid var(--border);
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.maximized .titlebar {
	width: 100%;
	padding: 0;
}
.drag_region {
	width: 100%;
	height: 100%;
	-webkit-app-region: drag;
	display: grid;
	grid-template-columns: 32px auto 138px;
}
.window_title {
	grid-column: 1;
	display: flex;
	align-items: center;
	margin-left: 8px;
	overflow: hidden;
	font-family: 'Segoe UI', sans-serif;
	font-size: 12px;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 1.5;
}
.maximized .window_title {
	margin-left: 12px;
}
.window_controls {
	display: grid;
	grid-template-columns: repeat(3, 46px);
	height: 100%;
	-webkit-app-region: no-drag;
}
.button {
	grid-row: 1 / span 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	user-select: none;
}
@media (-webkit-device-pixel-ratio: 1.5),
	(device-pixel-ratio: 1.5),
	(-webkit-device-pixel-ratio: 2),
	(device-pixel-ratio: 2),
	(-webkit-device-pixel-ratio: 3),
	(device-pixel-ratio: 3) {
	.icon {
		width: 10px;
		height: 10px;
	}
}
.button:hover {
	background: rgba(255, 255, 255, 0.1);
}
.button:active {
	background: rgba(255, 255, 255, 0.2);
}
.close_button:hover {
	background: #e81123 !important;
}
.close_button:active {
	background: #f1707a !important;
}
.close_button:active .icon {
	filter: invert(1);
}
.min_button {
	grid-column: 1;
}
.max_button,
.restore_button {
	grid-column: 2;
}
.close_button {
	grid-column: 3;
}
.restore_button {
	display: none !important;
}
.maximized .restore_button {
	display: flex !important;
}
.maximized .max_button {
	display: none;
}
