.sidebar {
	grid-column: 1 / 2;
	grid-row: 1;
	display: flex;
	flex-direction: column;
	border-right: 1px solid var(--border);
	height: calc(100vh - 32px);
	padding: 0 32px;
	padding-bottom: 32px;
}
.sidebar__button {
	border-radius: 32px;
}
.sidebar__menu {
	margin-top: 32px;
}
.sidebar__list {
	list-style: none;
}
.sidebar__item a {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 4px 8px;
	transition: all 0.3s ease;
	margin-bottom: 12px;
	font-family: 'PT Astra Sans';
	font-size: 16px;
	font-weight: 400;
	line-height: 150%;
	color: var(--grey);
	border-radius: 8px;
}
.sidebar__item:last-child a {
	margin: 0;
}
.sidebar__item_image {
	margin-right: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.sidebar__itemActiv a {
	color: var(--white);
}
.sidebar__item a:hover {
	color: var(--white);
}
.sidebar__footer {
	margin-top: auto;
	margin-bottom: 16px;
}
